<link rel="stylesheet" href="/styles/partials.css">
<nav>
  <ul class="nav-list">
    <li><a href="/">home</a></li>
    <li><a href="/add-post">add new post</a></li>
    <li><a href="/posts">all posts</a></li>
    <li><a href="#">my account</a></li>
  </ul>
</nav>
